@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Updated color */
  --dark: #fb6506;
  --light: #fff4e6;
  --lightGray: #dddddf;
  --darkGray: #283343;
  /* --darkGray: #464748; */
  --darkBg: #1f2937;
  --white: #ffff;
  --tooltip-bg-light: #eee;
  --tooltip-text-light: #000000;
  --tooltip-bg-dark: #333;
  --tooltip-text-dark: #fffff;
}

html.light {
  --text-color: #000000;
  --bg-color: #F7F8F9;
}

html.dark {
  --text-color: #ffffff;
  --bg-color: var(--darkBg);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: 14px;
  line-height: 22px;
  font-family: "Golos Text", sans-serif !important;
  font-weight: 400;
}

.sidebar-link {
  transition: all 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: gray;
}

.sidebar-link.active {
  background-color: var(--light);
  color: var(--dark);
  border-right: 3px solid var(--dark);
  font-weight: 900;
}
.sidebar-link.active:hover {
  background-color: var(--light);
  color: var(--dark);
}

.sidebar-link:hover {
  background-color: var(--lightGray);
  color: #14213d;
}
.no-margin {
  margin: 0 !important;
}

/* MUI Style */

html.dark .css-h7cjts-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color:white;
}

.MuiTableCell-root {
  font-family: "Golos Text", sans-serif !important;
  letter-spacing: 0 !important;
  /* padding:11px !important; */
}

/* .tippy-box[data-theme~="custom"] {
  background-color: var(--tooltip-bg-light);
  color: var(--tooltip-text-light);
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  padding: 1px 8px;
}
.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--tooltip-bg-light);
} */

html.dark .tippy-box[data-theme~="custom"] {
  background-color: var(--tooltip-bg-dark);
  color: var(--tooltip-text-dark);
}


html.dark
  .tippy-box[data-theme~="custom"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--tooltip-bg-dark);
}


/* React quill */

.ql-container {
  height:150px !important;
  border-radius: 0 0 10px 10px;
}
.quill{
  border-radius:10px;
  border:none;
}
.ql-toolbar{
  border-radius:10px 10px 0 0;
  background:#e7eeef;
}


/* Toaster */

/* Toster ends here */