@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #25499f;
  --light: #e3edff;
  --lightGray: #dddddf;
  --darkGray: #283343;
  --darkBg: #1f2937;
  --white: #ffff;
  --tooltip-bg-light: #eee;
  --tooltip-text-light: #000000;
  --tooltip-bg-dark: #333;
  --tooltip-text-dark: #fffff;
  /* --accent-color: #25499f; */
   --accent-dark: #25499f;
  --accent-light: #e3edff;
  --accent-color: var(--accent-light);
}

/* @layer base {
  .bg-accent-dark {
    background-color: var(--accent-dark);
  }

  .text-accent-dark {
    color: var(--accent-dark);
  }

  .border-accent-dark {
    border-color: var(--accent-dark);
  }

  .bg-accent-light {
    background-color: var(--accent-light);
  }

  .text-accent-light {
    color: var(--accent-light);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }
} */

.dark {
  --accent-color: var(--accent-dark);
}

@layer base {
  .bg-accent-dark {
    background-color: var(--accent-dark);
  }
  .text-accent-dark {
    color: var(--accent-dark);
  }
  .border-accent-dark {
    border-color: var(--accent-dark);
  }
  .bg-accent-light {
    background-color: var(--accent-light);
  }
  .text-accent-light {
    color: var(--accent-light);
  }
  .border-accent-light {
    border-color: var(--accent-light);
  }
  .bg-accent {
    background-color: var(--accent-color);
  }
  .text-accent {
    color: var(--accent-color);
  }
  .border-accent {
    border-color: var(--accent-color);
  }
}
* {
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

html.light {
  --text-color: #000000;
  --bg-color: #F7F8F9;
}

html.dark {
  --text-color: #ffffff;
  --bg-color: var(--darkBg);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: 14px;
  line-height: 22px;
  font-family: "Golos Text", sans-serif !important;
  font-weight: 400;
}

/* Search cancel button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-color: red;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M18.3 5.71L12 12l6.3 6.29-1.41 1.42L10.59 13.41 4.29 19.71 2.88 18.3 9.17 12 2.88 5.71 4.29 4.29 10.59 10.59 16.89 4.29z'/%3E%3C/svg%3E");
  mask-size: cover;
  cursor: pointer;
}


.sidebar-link {
  transition: all 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: gray;
}

.sidebar-link.active {
  background-color: var(--accent-light);
  color: var(--accent-dark);
  border-right: 3px solid var(--accent-dark);
  font-weight: 900;
}
.sidebar-link.active:hover {
  background-color: var(--accent-light);
  color: var(--accent-dark);
}

.sidebar-link:hover {
  background-color: var(--lightGray);
  color: var(--accent-dark);
}
.no-margin {
  margin: 0 !important;
}

/* MUI Style */

html.dark .css-h7cjts-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
  color:white;
}

.MuiTableCell-root {
  font-family: "Golos Text", sans-serif !important;
  letter-spacing: 0 !important;
  /* padding:11px !important; */
}


html.dark .tippy-box[data-theme~="custom"] {
  background-color: var(--tooltip-bg-dark);
  color: var(--tooltip-text-dark);
}


html.dark
  .tippy-box[data-theme~="custom"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--tooltip-bg-dark);
}


/* React quill */

.ql-container {
  height:150px !important;
  border-radius: 0 0 10px 10px;
}
.quill{
  border-radius:10px;
  border:none;
}
.ql-toolbar{
  border-radius:10px 10px 0 0;
  background:#e7eeef;
}


/* Toaster */

/* Toster ends here */